@font-face {
  font-family: "iconfont"; /* Project id 4695625 */
  src: url('iconfont.woff2?t=1727446230581') format('woff2'),
       url('iconfont.woff?t=1727446230581') format('woff'),
       url('iconfont.ttf?t=1727446230581') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-persons:before {
  content: "\e63e";
}

.icon-code:before {
  content: "\e7fc";
}

.icon-cup-:before {
  content: "\e62b";
}

.icon-project:before {
  content: "\e84c";
}

.icon-wenjian:before {
  content: "\e600";
}

.icon-hetongguizeguankong2:before {
  content: "\e66b";
}

.icon-xiangmu:before {
  content: "\e612";
}

.icon-up:before {
  content: "\e6e1";
}

.icon-yigoutong:before {
  content: "\e60f";
}

.icon-yanshouguanli:before {
  content: "\e622";
}

.icon-shujukaifa:before {
  content: "\e60c";
}

.icon-a-kaifa1:before {
  content: "\eb58";
}

.icon-right:before {
  content: "\e6a3";
}

.icon-left:before {
  content: "\e67e";
}

.icon-cart_fill_light:before {
  content: "\e7d8";
}

.icon-light:before {
  content: "\e611";
}

.icon-chart-line:before {
  content: "\ef65";
}

.icon-pc-f:before {
  content: "\e639";
}

.icon-website:before {
  content: "\e655";
}

.icon-yibiao:before {
  content: "\e62a";
}

